<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> {{>profile-nav}} {{#if message}}
<div class="alert">{{message}}</div>
{{/if}}

<script>
    var pollOptions = [];
    var pollVotes = [];

    function collectChartData(option, votes) {
        pollOptions.push(option);
        pollVotes.push(votes);
    }

    function clearPollData() {
        pollOptions = [];
        pollVotes = [];
    }

    function pollData() {
        var poll = {
            type: 'doughnut',
            data: {
                labels: [],
                datasets: [{
                    label: "label",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: []
                }]
            },
            options: {
                title: {
                    display: false,
                    text: ''
                }
            }
        };
        poll.data.labels = pollOptions;
        poll.data.datasets[0].data = pollVotes;
        return poll;
    }

</script>
<div class="row display-flex">

    {{#each poll}}

    <div id="container{{pid}}" class="col- col-sm-6 col-md-4">
        <h2>{{question}}</h2>
        <canvas id="chart{{pid}}" width="100" height="100"></canvas>
        <dl id="{{pid}}" class="list-group">
            <dt>pid: {{pid}}  {{question}} <div class="clearfix"></div></dt> {{#each options }}
            <dd class="list-group-item"><span class="badge">{{this}}</span>{{@key}}</dd>
            <script>
                var votes = '{{this}}';
                var option = '{{@key}}';
                collectChartData(option, votes);

            </script>
            {{/each}}
        </dl>
    </div>
    <script>
        new Chart(document.getElementById("chart{{pid}}"), pollData());
        clearPollData();

    </script>

    {{/each}}


</div>
